<div class="container  py-5">
  <h1 class="mb-3">Zakat Payments by <%= current_user.name%></h1>

  <table>
    <thead>
      <tr>
        <th>Cash</th>
        <th>Credit</th>
        <th>Debit</th>
        <th>Assets</th>
        <th>Current nisab</th>
        <th>Zakat paid</th>
        <th>Date Paid</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @payments.each do |payment| %>
      <tr>
        <td>UGX <%= payment.cash %></td>
        <td>UGX <%= payment.credit %></td>
        <td>UGX <%= payment.debit %></td>
        <td>UGX <%= payment.assets %></td>
        <td>UGX <%= payment.current_nisab %></td>
        <td>UGX <%= payment.zakat_paid %></td>
        <td> <%= payment.created_at.strftime("%m/%d/%Y") %></td>
        <%# <td> <%= link_to 'Show', payment %>
        <%# <td> <%= link_to 'Edit', edit_payment_path(payment) %>
        <td> <%= link_to 'Delete', "/my-payments/#{payment.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      <tr class="bg-info text-white">
        <td colspan=5 class="text-right"><strong>Total Amount Paid to date:</strong></td>
        <td colspan=4><strong>UGX <%= current_user.payments.sum(:zakat_paid)%></strong></td>
      </tr>

    </tbody>
  </table>

  <br>

  <%= link_to 'New Payment', "/calculator" %>

</div>